<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo  http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">

    <import resource="classpath:xml/spring-mybatis.xml"/>

    <context:property-placeholder file-encoding="utf-8" location="classpath:conf/user.properties"/>

    <dubbo:application name="rocketmq-user"/>

    <dubbo:registry address="${zookeeper.addr}"/>

    <context:component-scan base-package="com.liutaoyxz.rocketmq.user">
        <context:exclude-filter type="annotation" expression="com.alibaba.dubbo.config.annotation.Service"/>
        <context:exclude-filter type="annotation" expression="com.alibaba.dubbo.config.annotation.Reference"/>
    </context:component-scan>

    <dubbo:annotation package="com.liutaoyxz.rocketmq.user.api"/>

</beans>