<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean class="com.liutaoyxz.rocketmq.common.mq.LTConsumer" id="consumer1" init-method="init">
        <property name="nameServerAddr" value="${mq.nameserver.addr}"/>
        <property name="topic" value="testTopic"/>
        <property name="groupName" value="testGroup"/>
        <property name="processor" ref="testProcesser"/>
    </bean>

    <bean class="com.liutaoyxz.rocketmq.common.mq.TestProcesser" id="testProcesser"></bean>

</beans>