<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="com.liutaoyxz.rocketmq.common.mq.LTProducer" id="producer1" init-method="init">
        <property name="groupName"  value="producerGroup"/>
        <property name="nameServerAddr" value="192.168.238.148:9876;192.168.238.146:9876"/>
        <!--<property name="nameServerAddr" value="192.168.162.128:9876"/>-->
    </bean>

</beans>